<div class="content">
    <div class="content-form">
      <header class="topo">
        <img src="../assets/img/logo-login.png" alt="" id="logo-login">
      </header>
        <h4 style="color: white;"> Realize Seu Login</h4>
         
        <br>
        <form id="formLogin">
            <div class="form-group">
              <label for="email">Endereço de email</label>
              <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Seu email">
            </div>
            <br>
            <div class="form-group">
              <label for="senha">Senha</label>
              <input type="password" name="senha" class="form-control" id="senha" placeholder="Sua Senha">
            </div>
            
             <br>
            <button type="button"  class="btn btn-primary" id="btn-logar">Acessar</button>
          </form>

    </div>
</div>
